<div style="height: calc(100vh - 9rem);">
  <section class="flex gap-10 justify-center items-center h-full w-full">
    <div class="bg-white rounded-2xl shadow-md w-[55%] p-5">
      <p class="font-berlin font-medium text-3xl text-center">Merci pour votre commande !</p>
      <p class="text-darkColor text-[.9rem] text-center mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequatur cum fugit modi nam natus necessitatibus omnis soluta ullam veritatis? Accusamus asperiores commodi debitis error iure optio rem sint veniam.</p>
      <div class="flex items-center justify-between border border-secondary rounded-2xl mt-5">
        <div class="p-3">
          <p class="font-berlin mb-3">Résumé de la commande :</p>
          <p>Produit : Décapsuleur</p>
          <p>Quantité : 1</p>
          <p>Texte gravé : Vive l'apéro</p>
          <p>TVA : 4,99 €</p>
          <p>Frais de livraison : 4,50 €</p>
          <p class="font-bold mt-3">TOTAL : 25,48 €</p>
        </div>
        <img src="decaps.png" alt="decapsuleur" class="mx-auto" width="200">
      </div>
      <div class="flex items-center justify-between border border-secondary rounded-2xl mt-5">
        <div class="p-3">
          <p class="font-berlin mb-3">Suivi de la commande :</p>
          <p>Vous pouvez suivre état de votre commande en cliquant sur le ien suivant :</p>
          <p class="underline">https://menuisiers-communication.fr/suivi-commande/8745BCD982</p>
        </div>
      </div>
    </div>
  </section>
</div>
