<section class="grid grid-cols-1 lg:grid-cols-2 gap-20 items-center pt-36 pb-16 pl-20">
            <!-- Text Container -->
            <div class="flex flex-col items-center justify-center text-center lg:text-left">
                <h1 class="text-3xl font-bold mb-4">Bienvenue chez Les Menuisiers de la Communication !</h1>
                <p class="mb-6">Vous cherchez des médailles et trophées en bois personnalisés ? Des goodies écoresponsables comme des porte-clés et des planches apéro ? Ou peut-être de la signalétique en bois pour vos locaux ou événements ? Nous sommes là pour concrétiser vos projets !</p>
                <p class="mb-8">Venez découvrir notre atelier à Vannes (56) et laissez-vous inspirer par notre savoir-faire artisanal. Ensemble, donnons vie à vos idées, tout en respectant l'environnement.</p>

                <div class="flex justify-start w-full lg:justify-start mb-8">
                    <button class="bg-ternary text-white px-4 py-2 mr-4 rounded-3xl">Confiez-nous votre projet ici</button>
                    <button routerLink="/products" class="bg-white text-ternary border border-ternary px-4 py-2 rounded-3xl">Personnaliser votre objet</button>
                </div>
            </div>

            <!-- Image Grid -->
            <div class="flex justify-start pl-16">
                    <img src="nvl.png" class="w-[350px] h-[350px]">

            </div>
        </section>

            <div class="grid grid-cols-3 gap-4 w-3/5">
                <div class="border border-gray-600 p-4 rounded-md">
                <div class="bg-gray-100 rounded-md p-4 flex flex-col items-center">
                    <p class="text-gray-800 font-medium mt-2">À PARTIR DE L'UNITÉ</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                </div>
                <div class="border border-gray-600 p-4 rounded-md">
                <div class="bg-gray-100 rounded-md p-4 flex flex-col items-center w-full">
                    <p class="text-gray-800 font-medium mt-2 text-center">100% PERSONNALISABLE</p>
                </div>
                </div>
                <div class="border border-gray-600 p-4 rounded-md">
                <div class="bg-gray-100 rounded-md p-4 flex flex-col items-center">
                    <p class="text-gray-800 font-medium mt-2">LIVRAISON EN 24H</p>
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </div>
                </div>
              <div class="h-[1.5px] w-[39%] bg-ternary mb-4 mx-auto absolute bottom-[3rem] right-0"></div>
            </div>


    <!-- Trusted By Section -->

<section class="bg-ternary rounded-3xl py-16 px-4 sm:px-6 mt-24">
<div>
    <h2 class="text-2xl font-medium text-center text-white mb-8 font-berlin">IlS SONT + DE 150 À NOUS AVOIR FAIT CONFIANCE</h2>
</div>
    <img src="Frame5.png" class="w-full">
</section>

<section class="py-28 px-[5rem]">
    <img src="Group30.png" class="w-full object-cover">
</section>

<section class="grid grid-cols-1 lg:grid-cols-1 gap-4 items-center py-22">
    <div class="flex flex-col items-lzft justify-lzft text-left lg:text-left">
        <h1 class=" font-roboto font-semibold text-lg uppercase">AVIS CLIENTS</h1>
        <div class="h-[1px] w-52 bg-ternary w-full mb-4 mx-auto"></div>
    </div>

    <div class="flex flex-row gap-4">
        <div class="bg-white rounded-md shadow-md p-4 flex flex-col gap-2 w-1/5">
            <div class="flex flex-row gap-2">
                <img src="https://i.pravatar.cc/150?img=1" alt="Anna duchêne" class="rounded-full w-10 h-10">
                <p class="text-gray-600">Anna duchêne</p>
              </div>
          <p class="text-gray-600">"Je suis ravie de ma commande! Les médailles en bois que j'ai personnalisées pour notre événement sportif sont magnifiques".</p>

        </div>

        <div class="bg-white rounded-md shadow-md p-4 flex flex-col gap-2 w-1/5">
            <div class="flex flex-row gap-2">
                <img src="https://i.pravatar.cc/150?img=2" alt="Alice Legendre" class="rounded-full w-10 h-10">
                <p class="text-gray-600">Alice Legendre</p>
              </div>
          <p class="text-gray-600">"Les Menuisiers de la Communication ont réalisé un excellent travail pour nos plaques de porte personnalisées"</p>

        </div>

        <div class="bg-white rounded-md shadow-md p-4 flex flex-col gap-2 w-1/5">
            <div class="flex flex-row gap-2">
                <img src="https://i.pravatar.cc/150?img=3" alt="Alain Leroux" class="rounded-full w-10 h-10">
                <p class="text-gray-600">Alain Leroux</p>
              </div>
          <p class="text-gray-600">"J'ai fait graver des médailles en bois pour une remise de prix et elles sont vraiment magnifiques.."</p>
        </div>

        <div class="bg-white rounded-md shadow-md p-4 flex flex-col gap-2 w-1/5">
            <div class="flex flex-row gap-2">
                <img src="https://i.pravatar.cc/150?img=4" alt="Anne Colleaux" class="rounded-full w-10 h-10">
                <p class="text-gray-600">Anne Colleaux</p>
              </div>
          <p class="text-gray-600">"J'ai commandé des goodies en bois pour une campagne de marketing et je suis globalement satisfait"</p>
        </div>

        <div class="bg-white rounded-md shadow-md p-4 flex flex-col gap-2 w-1/5">
            <div class="flex flex-row gap-2">
                <img src="https://i.pravatar.cc/150?img=5" alt="-" class="rounded-full w-10 h-10">
                <p class="text-gray-600">-</p>
              </div>
          <p class="text-gray-600">"Flcenetec</p>
        </div>
      </div>
</section>

<footer class="bg-secondary pb-5 pt-10 mt-20 rounded-t-[70px]">
  <div class="flex items-center px-10">
    <img ngSrc="logo.png" [priority]="true" [height]="54" [width]="50" alt="logo">
    <div class="flex w-full justify-around items-center text-white">
      <div class="flex flex-col">
        <p class="uppercase mb-3">Liens rapides</p>
        <ul class="text-sm leading-[2]">
          <li>Nos produits</li>
          <li>Qui sommes-nous ?</li>
          <li>L'atelier</li>
          <li>Contactez-nous</li>
        </ul>
      </div>
      <div class="flex flex-col">
        <p class="uppercase mb-3">Legal</p>
        <ul class="text-sm leading-[2]">
          <li>Nos produits</li>
          <li>Qui sommes-nous ?</li>
          <li>L'atelier</li>
          <li>Contactez-nous</li>
        </ul>
      </div>
      <div class="flex flex-col">
        <p class="uppercase mb-3">Contact</p>
        <ul class="text-sm leading-[2]">
          <li>Tel : 00 00 00 00 00</li>
          <li>mathias&#64;kartennco.fr</li>
          <li>5 rue René Descartes</li>
          <li>56890 PLESCOP</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center w-full text-white text-sm mt-10">
    © 2024 - Kartennco
  </div>
</footer>
